*.pyc
.DS_Store
__pycache__/
TempestRemap.log
exodus_*
scrip_*
map_*
*.png
custom_scripts/*
files_grid/*
files_mapping/*
files_tmp/*
test_data_tmp/*
data_scratch
data/*
data_scratch/*
slurm*out
build/
dist/
HICCUP.egg-info